/* screen - player */

.lato-bold-oasis-18px {
  color: var(--oasis);
  font-family: 'Lato', Helvetica, Arial, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
}
.lato-normal-abbey-18px {
  color: var(--abbey);
  font-family: 'Lato', Helvetica, Arial, serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
.player {
  background-color: rgba(59,164,178,1.0);
  height: 100vh;
  margin: 0px;
  min-height: 1611px;
  min-width: 922px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 100%;
}
.player .arrow-right-4eduM0 {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: row;
  height: 51px;
  justify-content: flex-start;
  left: 54px;
  min-width: 54px;
  padding: 11.0px 2.1px;
  position: absolute;
  top: 34px;
  transform: rotate(180deg);
  width: auto;
}
.player .dream-on-4eduM0 {
  background-color: transparent;
  color: var(--white);
  font-family: 'Wendy One', Helvetica, Arial, serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  height: 140px;
  left: 300px;
  letter-spacing: -1.44px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 982px;
  width: 325px;
}
.player .ellipse-1-4eduM0 {
  background-color: transparent;
  height: 185px;
  left: 372px;
  position: absolute;
  top: 1163px;
  width: 185px;
}
.player .ellipse-3-4eduM0 {
  background-color: transparent;
  height: 134px;
  left: 647px;
  position: absolute;
  top: 1189px;
  width: 133px;
}
.player .ellipse-3-BJQsbv {
  background-color: transparent;
  height: 144px;
  left: 137px;
  position: absolute;
  top: 1187px;
  width: 143px;
}
.player .ellipse-4-4eduM0 {
  background-color: transparent;
  height: 69px;
  left: 285px;
  position: absolute;
  top: 1397px;
  width: 71px;
}
.player .ellipse-5-4eduM0 {
  background-color: transparent;
  height: 7px;
  left: 327px;
  position: absolute;
  top: 169px;
  width: 7px;
}
.player .ellipse-6-4eduM0 {
  background-color: transparent;
  height: 7px;
  left: 338px;
  position: absolute;
  top: 169px;
  width: 7px;
}
.player .ellipse-7-4eduM0 {
  background-color: transparent;
  height: 7px;
  left: 349px;
  position: absolute;
  top: 169px;
  width: 7px;
}
.player .heart-4eduM0 {
  align-items: flex-start;
  background-color: transparent;
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: row;
  height: 44px;
  justify-content: flex-end;
  left: 769px;
  min-width: 44px;
  padding: 3.0px 0;
  position: absolute;
  top: 1059px;
  width: auto;
}
.player .mask-group-C61RwL {
  background-color: transparent;
  height: 854px;
  left: 51px;
  position: absolute;
  top: 708px;
  width: 819px;
}
.player .now-playing-4eduM0 {
  background-color: transparent;
  color: var(--white);
  font-family: 'SF UI Text-Bold', Helvetica, Arial, serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  height: 33px;
  left: 383px;
  letter-spacing: -1.68px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 156px;
  width: auto;
}
.player .overlap-group-C61RwL {
  background-color: transparent;
  height: 1611px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 922px;
}
.player .polygon-1-4eduM0 {
  background-color: transparent;
  height: 68px;
  left: 433px;
  position: absolute;
  top: 1222px;
  width: 62px;
}
.player .polygon-2-4eduM0 {
  background-color: transparent;
  height: 33px;
  left: 687px;
  position: absolute;
  top: 1240px;
  width: 32px;
}
.player .polygon-2-BJQsbv {
  background-color: transparent;
  height: 31px;
  left: 204px;
  position: absolute;
  top: 1242px;
  width: 28px;
}
.player .rectangle-2-4eduM0 {
  background-color: rgba(112,49,31,1.0);
  border-radius: 40px;
  box-shadow: 0px 20px 30px rgba(0,0,0,0.5);;
  height: 854px;
  left: 66px;
  position: absolute;
  top: 708px;
  width: 789px;
}
.player .rectangle-4-4eduM0 {
  background-color: var(--white-2);
  border-radius: 2px;
  height: 38px;
  left: 724px;
  position: absolute;
  top: 1238px;
  width: 10px;
}
.player .rectangle-4-BJQsbv {
  background-color: var(--white-2);
  border-radius: 2px;
  height: 34px;
  left: 189px;
  position: absolute;
  top: 1240px;
  transform: rotate(180.00deg);
  width: 9px;
}
.player .rectangle-5-4eduM0 {
  background-color: rgba(177,39,39,1.0);
  border-radius: 3px;
  height: 5px;
  left: 155px;
  position: absolute;
  top: 1424px;
  width: 609px;
}
.player .rectangle-6-4eduM0 {
  background-color: rgba(255,185,163,1.0);
  border-radius: 3px;
  box-shadow: 0px 2px 3px rgba(244,98,51,0.17) , 0px 1px 3px rgba(0,0,0,0.29);;
  height: 4px;
  left: 155px;
  position: absolute;
  top: 1424px;
  width: 147px;
}
.player .rectangle-8-4eduM0 {
  background-color: rgba(146,20,42,1.0);
  height: 1611px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 922px;
}
.player .rectangle-8-BJQsbv {
  background-color: transparent;
  height: 852px;
  left: 16px;
  position: absolute;
  top: 111px;
  width: 889px;
}
.player .rectangle-9-4eduM0 {
  background-color: transparent;
  height: 12px;
  left: 151px;
  position: absolute;
  top: 1420px;
  width: 173px;
}
.player .roger-terry-4eduM0 {
  background-color: transparent;
  color: rgba(255,255,255,0.68);
  font-family: 'Wendy One', Helvetica, Arial, serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  height: 36px;
  left: 360px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 1067px;
  width: 200px;
}
.player .vector-348-KrkQLj {
  background-color: transparent;
  flex-shrink: 0;
  height: 38px;
  position: relative;
  width: 44px;
}
.player .vector-9j9QVG {
  background-color: transparent;
  flex-shrink: 0;
  height: 29px;
  position: relative;
  width: 48px;
}
.player .x102-4eduM0 {
  background-color: transparent;
  color: var(--white);
  font-family: 'Avenir-Medium', Helvetica, Arial, serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  height: auto;
  left: 298px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 1369px;
  width: 52px;
}
.wendyone-normal-stack-14px {
  color: var(--stack);
  font-family: 'Wendy One', Helvetica, Arial, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.wendyone-normal-white-20px {
  color: var(--white);
  font-family: 'Wendy One', Helvetica, Arial, serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}
:root {
  --abbey: rgba(79,79,79,1.0);
  --oasis: rgba(253,239,209,1.0);
  --oasis-2: rgba(254,239,208,1.0);
  --stack: rgba(138,138,138,1.0);
  --white: rgba(255,255,255,1.0);
  --white-2: rgba(255,255,255,0.8);
}
